*{
    margin: 0;
}

:root{
    --background-left: rgba(12,14,17,.97);
    --border: #272b32;
    --text: #e8e9ec;
    --bg: #0a0b0d;

}

.container{
    width: 100%;
    height: 100vh;    
}

.left{
    width: 20%;
    height: 100%;
    background-color: var(--background-left);
    border-right: 1px solid var(--border);
    color: var(--text);
    transition: width .2s ease;
}

.right{
    background-color: var(--bg);
    height: 100%;
    width: 80%;
}